.cardValue {
    font-weight: 700;
    font-size: 20px;
}

.card p {
    line-height: 24px;
}

.card img{
    padding: 2rem 1rem 2rem 2rem;
}

.card {
    display: flex;
    align-items: center;
    width: auto;
    background: #fbfbfb;
    border-radius: 5px;
    padding-right: 32px;
}