.counterValue {
    font-weight: 700;
    font-size: 20px;
}

.counter p {
    line-height: 24px;
}

.counter img{
    padding: 2rem 1rem 2rem 2rem;
}

.counter {
    display: flex;
    align-items: center;
    width: auto;
    background: #fbfbfb;
    border-radius: 5px;
    padding-right: 32px;
}