#groupedBarChart{
    /* padding: 24px 32px 24px 32px; */
    background: #FBFBFB;
    font-weight: 500;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#groupedBarChart .domain,
#groupedBarChart .x-axis line{
    display: none;
    fill: #9B9EAC;
}

#groupedBarChart g g text{
    fill: #9B9EAC;
    font-weight: 500;
    font-size: 14px;
}

#groupedBarChart .y-axis line{
    stroke-width: 1px;
    stroke: #dedede;
    stroke-dasharray: 2,2;
}
