#groupedBarChart{
    /* padding: 24px 32px 24px 32px; */
    background: #FBFBFB;
    font-weight: 500;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.tooltip{
    position: absolute;
    opacity: 0;
    z-index: 1000;
    text-align: left;
    border-radius: 4px;
    padding: 8px;
    color: #fff;
    background-color: #000;
    font: 12px sans-serif;
    max-width: 300px;
}

#groupedBarChart .domain,
#groupedBarChart .x-axis line{
    display: none;
    fill: #9B9EAC;
}

#groupedBarChart g g text{
    fill: #9B9EAC;
    font-weight: 500;
    font-size: 14px;
}

#groupedBarChart .y-axis line{
    stroke-width: 1px;
    stroke: #dedede;
    stroke-dasharray: 2,2;
}
